<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="../static/dist/semantic.min.js"></script>
    <title>gMemegen</title>
    <style>
        .main.container {
            margin-top: 5em;
        }
    </style>
</head>
<body>
    <header>
        <div class="ui blue fixed inverted menu">
            <div class="ui container">
                    <a href="#" class="header item">
                        <img src="../static/images/logo_gcp_hexagon_rgb.png" class="logo" />
                        gMemegen
                    </a>
                <a href="/" class="item">Home</a>
                <a href="{{ url_for('view_recent') }}" class="item">Recent</a>
                <a href="{{ url_for('view_random') }}" target="_blank" class="item">Random</a>
            </div>
        </div>
    </header>
    <div class="ui main container">

