<center><img src="../static/images/gmemegen.png"></center>
<center>
  <img src="../static/images/cloudsql.jpg" width="256" height="100">
  <img src="../static/images/kubernetes.png" width="380" height="130">
</center>
<hr height=3>
<form action = method="post" enctype="multipart/form-data">
  <table align="center" width="90%">
      <td align="left"><a href="{{ url_for('view_recent') }}"><img src="../static/images/recent.png"></a></td>
      <td align="right"><a href="{{ url_for('view_random') }}"><img src="../static/images/random.png"></a></td>
    </tr>
  </table>
</form>
<hr height=3>
